
<%= image_tag "header.png", loading: "lazy", alt: "Header image", style: 'width: 100px; height: 100px; margin: auto; margin-top: 120px' %>
<h1 class="text-center text-blue-400" style="font-weight: bold; font-size: 22px;">Say somethings</h1>
<div style="display: grid; grid-template-columns: 2.5fr 1fr" class="mt-4">
  <%= render 'layouts/feeds' %>
  <%= render 'layouts/slidebar' %>
</div>
